<div class="row">
  <div class="col-md-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title mb-2"><%= t('students') %></h5>
        <p class="display-6 m-0"><%= total %></p>
      </div>
    </div>
  </div>
</div>
